@using NetCoreIdentity.Controllers.Account
@model NetCoreIdentity.Controllers.Account.LoggedOutViewModel

@{ 
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
}

<div class="page-header logged-out">
    <h1>
        @ViewData["LoggedOut"]
        <small>@ViewData["LoggedOutText"]</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            @ViewData["LoggedOutAction"] <a class="PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">@ViewData["LoggedOutFinish"]</a>
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>

@section scripts
{
    @if (Model.AutomaticRedirectAfterSignOut)
    {
        <script src="~/js/signout-redirect.js"></script>
    }
}
